In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

%matplotlib inline

In [2]:
df = pd.read_csv("data/userFeature.csv")
df.head()

,LBS,age,appIdAction,appIdInstall,carrier,consumptionAbility,ct,education,gender,house,...,interest5,kw1,kw2,kw3,marriageStatus,os,topic1,topic2,topic3,uid
0,950.0,4,NaN,NaN,1,2,3 1,7,2,NaN,...,52 100 72 131 116 11 71 12 8 113 28 73 6 132 9...,664359 276966 734911 103617 562294,11395 79112 115065 77033 36176,NaN,11,2,9826 105 8525 5488 7281,9708 5553 6745 7477 7150,NaN,26325489
1,803.0,2,NaN,NaN,1,1,3 1,2,1,NaN,...,NaN,338851 361151 542834 496283 229952,80263 39618 53539 180 38163,NaN,5 13,1,4391 9140 5669 1348 4388,9401 7724 1380 8890 7153,NaN,1184123
2,927.0,1,NaN,NaN,3,1,3 1,5,1,NaN,...,77 72 80 116 101 13 1 109 8 50 6 42 76 9 46 36...,746140 695808 126355 771775 411511,105115 71378 41409 74061 44005,NaN,13 10,1,1502 5488 9826 2187 8088,5005 9154 2756 5612 4209,NaN,76072711
3,486.0,4,NaN,NaN,3,1,1 3,7,1,NaN,...,100 80 92 37 116 13 47 4 71 8 50 28 98 115 6 4...,283399 402245 734509 654027 32061,74010 32918 67882 116802 20957,NaN,11,1 2,1619 7342 3064 9213 8525,810 2438 5659 1844 9262,NaN,63071413
4,112.0,5,NaN,NaN,3,2,3 1 4 2,6,1,NaN,...,131 116 13 8 6 132 42 9 59 18 58 64 129 103,562294 157603 589706 657719 495672,62764 97803 89066 55545 74061,NaN,11,1,477 9826 5808 644 2747,5483 2199 5424 1511 7751,NaN,81294159

In [3]:
df_new = pd.DataFrame()

In [13]:
df_new['age'] = df['age']
df_new['gender'] = df['gender']  # to one-hot
df_new['education'] = df['education']
df_new['consumptionAbility'] = df['consumptionAbility']
df_new['LBS'] = df["LBS"]  # to one-hot

In [15]:
for ct_i in [0,1,2,3,4]:
    df_new['ct_%d' % ct_i] = df['ct'].apply(lambda x:int(str(ct_i) in x.split()))

In [22]:
for os_i in [0,1,2]:
    df_new['os_%d' % os_i] = df['os'].apply(lambda x:int(str(os_i) in x.split()))

In [28]:
df_new['carrier'] = df['carrier']
df_new['house'] = df['house'].fillna(0).astype('int')

In [30]:
vector_feature = ['appIdAction','appIdInstall','interest1','interest2','interest3','interest4','interest5','kw1','kw2','kw3','topic1','topic2','topic3']
for column in

LBS                   float64
age                     int64
appIdAction            object
appIdInstall           object
carrier                 int64
consumptionAbility      int64
ct                     object
education               int64
gender                  int64
house                 float64
interest1              object
interest2              object
interest3              object
interest4              object
interest5              object
kw1                    object
kw2                    object
kw3                    object
marriageStatus         object
os                     object
topic1                 object
topic2                 object
topic3                 object
uid                     int64
dtype: object

In [42]:
for ms_i in {0, 10, 11, 12, 13, 14, 15, 2, 3, 5, 6, 8, 9}:
    df_new['ms_%d' % ms_i] = df['marriageStatus'].fillna("-1").apply(lambda x:int(str(ms_i) in x.split()))

In [43]:
df_new

,age,gender,education,consumptionAbility,LBS,ct_0,ct_1,ct_2,ct_3,ct_4,...,ms_5,ms_6,ms_8,ms_9,ms_10,ms_11,ms_12,ms_13,ms_14,ms_15
0,4,2,7,2,950.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,2,1,2,1,803.0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,1,1,5,1,927.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,4,1,7,1,486.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,1,6,2,112.0,0,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0
5,1,1,2,0,589.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,4,1,7,1,244.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
7,5,1,2,1,464.0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
8,5,1,6,1,585.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9,1,2,7,1,705.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
10,2,1,2,1,100.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
11,2,1,2,2,94.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
12,4,1,7,0,458.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13,2,2,1,1,421.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
14,1,2,6,2,902.0,0,1,0,1,1,...,0,0,0,0,1,0,0,1,0,0
15,4,1,6,2,954.0,0,1,1,1,0,...,0,0,0,0,0,1,0,0,0,0
16,2,1,2,2,964.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
17,1,2,6,2,514.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
18,3,2,7,1,614.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
19,4,1,7,1,532.0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
20,5,1,2,2,268.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
21,3,1,6,1,192.0,0,1,0,1,1,...,0,0,0,0,0,1,0,0,0,0
22,5,1,6,2,179.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
23,4,1,2,0,115.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2,1,1,0,85.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
25,2,1,2,1,6.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
26,1,1,2,2,348.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
27,1,1,7,1,779.0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
28,5,2,2,1,809.0,0,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0
29,2,2,6,1,945.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11420009,4,1,1,0,18.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11420010,4,1,7,1,809.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420011,3,1,6,1,839.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420012,4,1,6,1,395.0,0,1,0,1,1,...,0,0,0,0,0,1,0,0,0,0
11420013,1,2,7,1,346.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11420014,4,1,6,0,348.0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420015,1,2,1,1,687.0,0,1,1,1,0,...,0,0,0,0,1,0,0,0,0,0
11420016,2,2,2,0,932.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
11420017,3,1,3,2,641.0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420018,1,2,6,2,686.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
11420019,5,1,5,1,668.0,0,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0
11420020,2,1,6,1,176.0,0,1,0,1,1,...,0,0,0,0,1,0,0,1,0,0
11420021,5,1,7,1,237.0,0,1,1,1,0,...,0,0,0,0,1,0,0,0,0,0
11420022,1,2,7,1,112.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
11420023,1,2,7,0,383.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
11420024,4,2,7,1,375.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420025,3,1,6,2,950.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420026,5,2,6,1,128.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
11420027,1,1,7,1,809.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
11420028,2,1,2,1,87.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11420029,2,1,1,0,812.0,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0
11420030,5,2,7,2,437.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11420031,4,1,6,1,783.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11420032,5,2,3,0,733.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11420033,5,1,6,1,921.0,0,1,1,1,1,...,0,0,0,0,1,0,0,0,0,0
11420034,5,2,2,2,964.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11420035,2,1,2,0,4.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
11420036,5,1,7,1,364.0,0,1,0,1,0,...,0,0,0,0,0,0,1,1,0,0
11420037,5,2,2,2,112.0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
11420038,3,2,1,2,114.0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0